
@media screen and (max-width: 400px) {

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      background-color: lightblue;
  }



h1 {
    color: red;
}


em {
    color: blue;
}

.answer {
    display: none;
}

.Rika_Img {
    width: 40vw;
}

.Poppy_Img {
    width: 40vw;
}

.Larry_Img {
    width: 40vw;
}

.Hassel_Img {
    width: 40vw;
}

.pokelogo {
    width: 23vw;
}



}