h1 {
    color: red;
}


em {
    color: blue;
}

.answer {
    display: none;
}

.Rika_Img {
    width: 40vw;
}

.Poppy_Img {
    width: 40vw;
}

.Larry_Img {
    width: 40vw;
}

.Hassel_Img {
    width: 40vw;
}